<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>152330452933-9rm5h37tmkuhdrc8knq3lv0vhgl6fqjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152330452933-9rm5h37tmkuhdrc8knq3lv0vhgl6fqjl</string>
	<key>API_KEY</key>
	<string>AIzaSyA0zvMyTUdtQd6xuMKZix4s4XjQC7ho68k</string>
	<key>GCM_SENDER_ID</key>
	<string>152330452933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samuscarella.app-showcase</string>
	<key>PROJECT_ID</key>
	<string>app-showcase-cebcf</string>
	<key>STORAGE_BUCKET</key>
	<string>app-showcase-cebcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:152330452933:ios:eb8b080f6e3d1a3f</string>
	<key>DATABASE_URL</key>
	<string>https://app-showcase-cebcf.firebaseio.com</string>
</dict>
</plist>